#footer {
    background-color: #000;
    min-height: 50px;
}

#copyright {
    color: white;
    padding-top: 10px;
    padding-left: 50px;
}

#followme {
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

#followme>a {
    padding-left: 10px;
}