body {
    background: #9053c7 !important;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: linear-gradient(-135deg, #c850c0, #4158d0) !important;
}

#home {
    background-color: #ffffff;
}

#price-list {
    padding-top: 15px;
}

.carousel img {
    width: auto;
    height: 330px;
}

#baner-slide {
    width: 100%;
    height: auto;
}

#about-us {
    background-color: #f0f0f0;
}

#link-about {
    list-style: none;
    min-height: 400px;
}

#link-about>li {
    padding: 10px;
    padding-top: 30px;
}

#link-about>li>h5>a {
    color: black;
}

#link-about>li>h5>a:hover {
    color: blue;
}

#map {
    padding-bottom: 20px;
}

#ggmap {
    border: black 1px solid;
    max-height: 400px;
}