.navbar {
    background-color: #f5f7e4 !important;
}

.navbar li a {
    font-weight: 500;
    padding-left: 15px !important;
}

.navbar li a:hover {
    color: #0a081b !important;
}

.dropdown-menu {
    background-color: #f5f7e4;
}