body {
    background: #9053c7 !important;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: linear-gradient(-135deg, #c850c0, #4158d0) !important;
}

#payment {
    min-height: 10px;
    background-color: #ffffff;
}