body {
    background: #9053c7 !important;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0) !important;
    background: linear-gradient(-135deg, #c850c0, #4158d0) !important;
}

#product {
    background-color: #ffffff;
}

#all-product {
    color: red;
    ;
}

#product-lable {
    margin: 0 auto;
}